* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-style {
    display: flex;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
    align-items: center;
}

#colour-header-1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

#header-img {
    width: 56.041px;
    height: 30px;
    flex-shrink: 0;
}

#header-name {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
}

.text-primary {
    color: #FF42A5;
}

#colour-header-2 {
    display: flex;
    color: #3C354F;
}

a {
    text-decoration: none;
}

.gap-ber {
    gap: 10px;
}

.header-style {
    display: flex;
    margin: 20px 150px;
    padding: 50px;
    justify-content: center;
    justify-content: space-between;
}

.header-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
}

.title-size-1 {
    font-size: 50px;
}

.title-size-2 {
    font-size: 95px;
    color: #FF42A5;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    gap: 15px;
}

.header-img {
    width: 11px;
    height: 46px;
    padding-right: 500px;
}

.section-style {
    display: flex;
    margin: 100px;
    padding: 50px;
    justify-content: center;
    justify-content: space-between;
}

.section-details {
    text-align: center;
}

.section-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title {
    text-align: center;
}

.main-title-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media and (max-width: 576px) {
    .nav-style {
        flex-direction: column;
    }

    #colour-header-1,
    #colour-header-2 {
        flex-direction: column;
    }

}

@media (max-width: 576px) {
    .header-style {
        flex-direction: column;
        margin: 20px 50px;
        padding: 20px;
        justify-content: center;
        justify-content: space-between;
    }
}

@media screen and (max-width:576px) {
    .section-style {
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        justify-content: center;
    }

    .section-img {
        border-top: 200px;
        padding-top: 500px;
    }
}